*{
    margin:0;
    padding:0;
    overflow: hidden;
}

body{
    background:#fafafa ;
}

.dino{
    background-image: url('/img/dino.png');
    width: 60px;
    height:60px;
    position:absolute;
    bottom: 51vh;
    margin-left:55px;
}

.cactus{
    background-image: url('/img/cactus.png');
    position:absolute;
    width: 60px;
    height:50px;
    bottom: 3px;  
}

.game-over{
    text-align: center;
    margin: 40vh 0;
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    animation: dead 300s infinite ease-in;
    background-image: url('/img/background.png');
    width: 100%;
    height: 200px;
}

.background{
    background-image:url('/img/background.png') ;
    position: absolute;
    animation:fundoslide 600s infinite linear;
    bottom: 50%;
    background-repeat: repeat-x;
    width: 100%;
    height: 200px;
}


@keyframes fundoslide{
    from{
        background-position:70000%;
    }
    to{
        background-position: 0;
    }
}

@keyframes dead{
    from{
        background-position:1000000%;
    }
    to{
        background-position: 0%;
    }
}